/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  inline-size: 100vw;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorations::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorations::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__inscription {
  position: absolute;
  top: 10px;
  right: 20px;
  display: grid;
  grid-template-columns: min-content min-content;
  font-weight: 400;
  font-size: 18px;
  gap: 10px;
  line-height: 25px;
  color: var(--accent-color);
}

.header__inscription::after {
  content: "";
  align-self: center;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  display: block;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  padding-right: 10px;
  text-align: right;
  padding-block-start: 75px;
}

.header__theme-menu-button {
  padding: 0 13px 3px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid #ff007066;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-item .header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-item:not(:last-child) {
  padding-block-end: 15px;
}

.header__title {
  padding: 68px 10px 55px;
  text-align: left;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__description {
  margin: 0 10px;
  white-space: pre-line;
}

.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.main {
  padding: 0 10px;
}

.card__title {
  margin-block-start: 50px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.card__title.less-margin {
  margin-block-start: 40px;
}

.card__subtitle {
  margin-block-end: 10px;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-text-color);
}

.card__description {
  margin-block-end: 10px;
  font-weight: 400;
}

.solution-cards .card:first-of-type .card__description:first-of-type {
  margin-block-start: 20px;
}

.card__text-link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.card__text-link:hover {
  text-decoration: underline;
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: 1px solid currentColor;
}

.research-cards {
  display: grid;
  gap: 20px;
}

.reasons-cards {
  display: grid;
  gap: 20px;
}

.solution-cards {
  display: grid;
  gap: 20px;
}

.pictures-gallery__title {
  margin-block-start: 50px;
}

.pictures-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}

.pictures-gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.pictures-gallery .pictures-gallery__item:last-of-type {
  margin-block-end: 40px;
}

.footer {
  display: grid;
  inline-size: 95vw;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorations.footer__decorations::before {
  bottom: 14px;
  left: 0;
}

.decorations.footer__decorations::after {
  top: 8px;
  right: 0;
}

@media (width >= 768px) {

  .main {
    padding: 0 20px;
  }

  .header {
    min-block-size: 1024px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }

  .header__theme-menu {
    grid-row: 1;
    align-self: end;
    padding: 0 20px 53px 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-row: 2;
    align-self: start;
    padding: 125px 0 55px;
  }

  .header__description {
    grid-row: 3;
    align-self: start;
    margin: 40px 20px 0 384px;
  }

  .header__inscription {
    top: 20px;
    right: 30px;
  }

  .decorations::after {
    top: 20px;
    right: 20px;
  }

  .decorations::before {
    left: 20px;
    bottom: 20px;
  }

  .research-cards {
    grid-template-columns: fit-content(32%) fit-content(68%);
  }

  .card__title.less-margin {
    margin-block-start: 60px;
  }
  
  .reasons-cards .card__title {
    margin-block-start: 80px;
    max-inline-size: 230px;
  }
  
  .research-cards .card {
    grid-column: 2;
  }
  
  .solution-cards .card {
    grid-column: 2;
  }
  
  .research-cards .card:first-of-type {
    margin-block-start: 60px;
  }

  .solution-cards {
    grid-template-columns: fit-content(32%) fit-content(68%);
  }


  .solution-cards .card:first-of-type {
    margin-block-start: 80px;
  }

  .solution-cards .card__title {
    margin-block-start: 80px;
  }

  .pictures-gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    margin-block-end: 46px;
  }

  .pictures-gallery__title {
    margin-block-start: 80px;
    grid-row: 1;
    grid-column: 1/4;
  }

  .pictures-gallery__item:nth-of-type(1) {
    grid-row: 2;
    grid-column: 1/3;
  }

  .pictures-gallery__item:nth-of-type(2) {
    grid-row: span 2;
    grid-column: 3;
  }

  .pictures-gallery__item:nth-of-type(3) {
    grid-row: span 2;
    grid-column: 1;
  }

  .pictures-gallery__item:nth-of-type(5) {
    grid-column: span 2;
  }

  .pictures-gallery .pictures-gallery__item:last-of-type {
    margin-block-end: 0;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorations.footer__decorations::after {
    right: 0;
    top: 20px;
  }

  .decorations.footer__decorations::before {
    left: 0;
    bottom: 20px;
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-items: center;
    margin-block-start: 20px;
    margin-inline-start: 23px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu-item:not(:last-child) {
    padding-block-end: 0;
  }

  .header__description {
    margin: 51px 20px 0 513px;
  }

  .header__title {
    padding: 80px 0 55px;
  }

  .reasons-cards {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, fit-content(calc(96% / 3)));
  }

  .reasons-cards .card {
    grid-row: 2;
  }

  .reasons-cards .card__title {
    margin-block-start: 80px;
    max-inline-size: 315px;
  }

  .footer {
    min-block-size: 768px;
  }

  .decorations.footer__decorations::after {
    right: -10px;
    top: 20px;
  }

}