/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  inline-size: 100%;
  block-size: 678px;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 var(--side-padding);
}

.decorated-zone {
  position: relative;
}

.decorations::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorations::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 20px;
  left: 10px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__inscription {
  position: absolute;
  top: 10px;
  right: 20px;
  display: grid;
  grid-template-columns: min-content min-content;
  font-weight: 400;
  font-size: 18px;
  gap: 10px;
  line-height: 25px;
  color: var(--accent-color);
}

.header__inscription::after {
  content: "";
  align-self: center;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  display: block;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  text-align: right;
  padding-block-start: 75px;
}

.header__theme-menu-button {
  padding: 0 13px 3px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid #ff007066;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-item .header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-item:not(:last-child) {
  padding-block-end: 15px;
}

.header__title {
  padding: 68px 0 55px;
  text-align: left;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__description {
  white-space: pre-line;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  padding: 0 var(--side-padding);
}

.card__title {
  margin-block-start: 50px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.card__title.less-margin {
  margin-block-start: 31px;
}

.card__subtitle {
  margin-block-end: 10px;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color:#F1B2CE;
}

.card__description {
  margin-block-end: 10px;
  font-weight: 400;
}

.solution-cards .card:first-of-type .card__description:first-of-type {
  margin-block-start: 20px;
}

.card__text-link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.card__text-link:hover {
  text-decoration: underline;
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: 1px solid currentColor;
}

.research-cards {
  display: grid;
  gap: 20px;
}

.reasons-cards {
  display: grid;
  gap: 20px;
}

.solution-cards {
  display: grid;
  gap: 20px;
}

.pictures-gallery__title {
  margin-block-start: 50px;
}

.pictures-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
}

.pictures-gallery__image {
  inline-size: 100%;
}

.pictures-gallery .pictures-gallery__item:last-of-type {
  margin-block-end: 40px;
}

.footer {
  display: grid;
  inline-size: 100%;
  block-size: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}