/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --theme-button-hover-color: #ff007066;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --decor-color: #000028;
  --card-title-color: var(--accent-color);
  --card-text-color: #f1b2ce;
  --decorations-color: var(--accent-color);
  --theme-button-color: var(--accent-color);
}
